
</main>
<footer>
    <!-- <marquee behavior="scroll" direction="left" scrollamount="5">
        Designed and developed by Afreen Taj S, Aishwarya S, Noorain Saba.&ensp; 
        Guided by Dr Syed Naimatullah Hussain, Mr Aditya Machiraju.
    </marquee> -->
    <div class="copyright">
        <h2>© 2023 Nagarjuna Group Of Institutions. All Rights Reserved</h2>
    </div>
</footer>
</body>
</html>